.header {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 36px;
  font-weight: 700;
  margin: 20px;
  color: #8a15fff7;
  text-shadow: 0px 0px 20px #000000;
}

.loader-animation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30vh;
}

.user-image-container {
  padding-bottom: 5px;
}
.user-image {
  border-radius: 70px;
  box-shadow: 0px 0px 12px #8a15ffbf;
}

.fetch-button {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  box-shadow: 0px 20px 8px 0px #8a15ffbf inset;
}

.fetch-button:hover {
  box-shadow: 0px -20px 8px 0px #8a15ffbf inset;
  cursor: pointer;
}

.user-card {
  color: lavender;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 25px 0 0 20px;
  border-bottom: 2px solid #8a15fff7;
  border-left: 2px solid #8a15fff7;
  width: fit-content;
}

.user-details-container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.users-to-fetch-dropdown-container {
  padding: 5px 0 10px 0;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  flex-direction: row;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  color: #8a15fff7;
  text-shadow: 0px 0px 20px #000000;
}

.user-select-box {
  height: 22px;
  width: 65px;
  color: lavender;
  background-color: #292a2d;
  border: 1px solid lavender;
  outline: none;
}

.user-select-box:hover {
  box-shadow: 0px 0px 5px 0px #8a15ffbf;
}
